/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Fonts that look good: Muli, Titillium Web, Helvetica */

/* Base Styles */
* {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: white;
  background-color: black;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  /* 20/26 styling, with text sizes based on the major sixth modular scale (1.667) */
  font-size: 1.25em; /* 20 / 16 = 1.25em */
  line-height: 1.3em; /* 26 / 20 = 1.3em */
  height: 100%;
}

body {
  margin: 0 auto;
}

/* Simple HTML/element selectors */
/* Typographic styles; colors; spacing */

h1, h2, h3 {
  font-family: 'Righteous', 'Muli', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.779em; /* 55.578 / 20 = 2.779em */
  line-height: 1.16953em; /* 65 / 55.578 = 1.16953em */
}

h2 {
  font-size: 1.667em; /* 33.34 / 20 = 1.667em */
  line-height: 1.16977em; /* 39 / 33.34 = 1.16977em */
  padding-bottom: 0.38992em; /* 13 / 33.34 = 0.38992em */
}

h3 {
  font-size: 1.3em; /* 26 / 20 = 1.3em */
  line-height: 1.5em; /* 39 / 26 = 1.5em */
}

#team p, #achievements p, #team ul, #achievements ul {
  text-align: center;
}

.player small {
  display: block;
  font-weight: bold;
  text-align: center;
}

li strong {
  font-weight: bold;
}

a {
  color: #ff2600;
}

a:hover, a:target, a:focus {
  color: #f0f;
}

p {
  display: block;
  padding-bottom: 1.3em;
}

ul, ol {
  display: block;
}

.player-media img {
  display: block;
  margin: 0 auto;
  min-width: 160px; /* NOTE: Wanted the rank logos to start at a viable fixed position, then scale up, */
  max-width: 33%;   /* but not too large. Tried out different methods, but this worked best for me. */
}

.player-media figcaption {
  text-align: center;
  padding-bottom: 1.3em;
}

#header {
  background-image: url(../img/home-256-256-100.jpeg);
  background-size: cover;
  width: 100vw;
  resize: both;
  background-position: center 0;
}

/* Layout Styles */

#header, #introduction, #team, #achievements, #footer {
  display: table;
  width: 100%;
  max-width: none;
  padding: 1.3em; /* 26 / 20 = 1.3em */
  height: 100vh;
}

#introduction, #achievements {
  background-color: white;
  color: black;
}

/* Modular Styles */

.content {
  display: table-cell;
  vertical-align: middle;
  padding: 1em 0;
}

#footer {
  text-align: center;
  font-size: 0.9em; /* 18 / 20 = 0.9em */
  min-height: 0;
  height: 100%;
}

.player {
  display: block;
  padding-bottom: 1.3em; /* 26 / 20 = 1.3em */
}

p:last-child {
  padding-bottom: 0;
}

#achievements li {
  display: block;
  padding-top: 0.65em; /* 13 / 20 = 0.65em */
}

/* State Styles; Media-query dependent styles */
@media screen and (min-width: 418px) {
  h2 {
    font-size: 2.779em; /* 55.578 / 20 = 2.779em */
    line-height: 1.40343em; /* 78 / 55.578 = 1.40343em */
  }
  h3 {
    font-size: 1.667em; /* 33.34 / 20 = 1.667em */
    line-height: 1.5597em; /* 52 / 33.34 = 1.5597 em */
  }
  #header {
    background-image: url(../img/home-626-350-90.jpeg);
  }
}

@media screen and (min-width: 720px) {
  #team h3, #team p small, #team ul {
    text-align: left;
  }
  #team h3 + p {
    padding-bottom: 0.65em;
  }
  #team ul {
    padding-left: 0.65em;
  }
  #team .player-media {
    width: 36.1111111%; /* 260 / 720 = 0.361111111 */
    float: left;
    text-align: center;
  }
  #team .player-info {
    width: 60.2777778%; /* 434 / 720 = 0.602777778*/
    left-padding: 3.61111%; /* 26 / 720 = 0.036111 */
    float: left;
  }
  .flexbox #team .player {
    display: flex;
    flex-direction: row;
  }
  .flexbox #team .player .player-media,
  .flexbox #team .player .player-info {
    float: none;
    margin: 0;
    width: auto;
  }
  .cssgrid #team .player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3.61111%; /* 26 / 720 = 0.036111 */
  }
  .cssgrid #team .player .player-media {
    grid-column: 1 / 4;
  }
  .cssgrid #team .player .player-info {
    grid-column: 4 / 9;
  }
  .player {
    clear: both;
    float: none;
  }
  .player-media img {
    margin-top: 2.6em;
    min-width: 120px;
  }
  #header {
    background-image: url(../img/home-872-490-75.jpeg);
  }
}

@media screen and (min-width: 818px) {
  h1 {
    font-size: 2.779em; /* 55.578 / 20 = 2.779em */
    line-height: 1.40343em; /* 78 / 55.578 = 1.40343em */
  }
}

@media screen and (min-width: 880px) {
  html {
    font-size: 1.3em; /* 26 / 20 = 1.3em */
  }
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

@media screen and (min-width: 1040px) {
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 11%;
    padding-right: 11%;
  }
}

@media screen and (min-width: 1220px) {
  html {
    font-size: 1.5em; /* 30 / 20 = 1.5em */
  }
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 15%;
    padding-right: 15%;
  }
  .player-media img {
    min-width: 160px;
  }
  #header {
    background-image: url(../img/home-1440-820-60.jpeg);
  }
}

@media screen and (min-width: 1440px) {
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 18%;
    padding-right: 18%;
  }
}

@media screen and (min-width: 1620px) {
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 21%;
    padding-right: 21%;
  }
}

@media screen and (min-width: 1800px) {
  #header, #introduction, #team, #achievements, #footer {
    padding-left: 23%;
    padding-right: 23%;
  }
  #header {
    background-image: url(../img/home-1920-1080-40.jpeg);
  }
}

/* Responsive Images */
