/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Fonts that look good: Muli, Titillium Web, Helvetica */

/* === Base Styles === */
* {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: white;
  background-color: black;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  /* 20/26 styling, with text sizes based on the major sixth modular scale (1.667) */
  font-size: 1.25em; /* 20 / 16 = 1.25em */
  line-height: 1.3em; /* 26 / 20 = 1.3em */
  height: 100%;
}

body {
  margin: 0 auto;
}

/* === Simple HTML/element selectors === */
/* Typographic styles; colors; spacing */

h1, h2, h3 {
  font-family: 'Righteous', 'Muli', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.779em; /* 55.578 / 20 = 2.779em */
  line-height: 1.16953em; /* 65 / 55.578 = 1.16953em */
}

h2, .player h3 {
  font-size: 1.667em; /* 33.34 / 20 = 1.667em */
  line-height: 1.16977em; /* 39 / 33.34 = 1.16977em */
  padding-bottom: 0.38992em; /* 13 / 33.34 = 0.38992em */
}

h3 {
  font-size: 1.3em; /* 26 / 20 = 1.3em */
  line-height: 1.5em; /* 39 / 26 = 1.5em */
}
h4 {
  display: block;
  font-weight: bold;
}
#chrmil11 h3, #geom h3, #awakenedfear46 h3 {
    text-align: left;
}
#achievements h4 {
  text-align: center;
}

#team p, #achievements p, #team ul, #achievements ul {
  text-align: center;
}

strong {
  font-weight: bold;
}

a {
  color: #ff2600;
}

a:hover, a:target, a:focus {
  color: #f0f;
}

#navigation a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#navigation li:hover {
  background-color: #ff2600;
  border-top: 8px #ff2600 solid;
}

p {
  display: block;
  padding-bottom: 1.3em;
}

li {
  text-align: left;
}

ul, ol {
  display: block;
}

.player-media img {
  display: block;
  margin: 0 auto;
  min-width: 160px; /* NOTE: Wanted the rank logos to start at a viable fixed position, then scale up, */
  max-width: 33%;   /* but not too large. Tried out different methods, but this worked best for me. */
}

.player-media figcaption {
  text-align: center;
}

#header-home {
  background-image: url(../img/home-256-256-100.jpeg);
  background-size: cover;
  width: 100vw;
  resize: both;
  background-position: center 0;
}

/* === Layout Styles === */

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li {
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 0.65em;
  background-color: black;
}

/* General section styling */
#header-home, #introduction, #team, #achievements, #footer,
#header-about, #header-team, #about, #cca, #chrmil11, 
#geom, #awakenedfear46 {
  display: table;
  width: 100%;
  max-width: none;
  padding: 1.3em;
}

/* Full height screen display */
#header-home, #header-about, #header-team {
  height: 100vh;
}

/* Alternate color */
#introduction, #achievements, #header-about, #cca,
#header-team, #geom {
  background-color: white;
  color: black;
}

/* Embedding Youtube videos for responsive design */
#introduction {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

#introduction iframe {
  position: absolute;
  top: 0;
  left: 3%;
  width: 94%;
  height: 100%;
}

/* === Modular Styles === */

/* Centering content in the 'section' */
.content, .links, #introduction iframe {
  display: table-cell;
  vertical-align: middle;
  padding: 1.3em 0;
}

#footer {
  text-align: center;
  font-size: 0.9em; /* 18 / 20 = 0.9em */
  min-height: 0;
  height: 100%;
  border-top: 1px white solid;
}

.player {
  padding-bottom: 1.3em; /* 26 / 20 = 1.3em */
}

#chrmil11, #geom, #awakenedfear46 {
  padding-bottom: 2.6em; /* 52 / 20 = 2.6em */
}

p:last-child {
  padding-bottom: 0;
}

#achievements li {
  display: block;
  padding-top: 0.65em; /* 13 / 20 = 0.65em */
}

#achievements p {
  padding-bottom: 0.65em; /* 13 / 20 = 0.65em */
}

#achievements h2 + p, #achievements p + p {
  padding-bottom: 0;
}

#achievement-intro {
  padding: 1.3em 0 2.6em;
}

#achievements li:last-child {
  padding-bottom: 1.3em; /* 26 / 20 = 1.3em */
}

/* === State Styles; Media-query dependent styles; Responsive Images === */
@media screen and (min-width: 418px) {
  #header-home {
    background-image: url(../img/home-626-350-90.jpeg);
  }
}

@media screen and (min-width: 560px) {
  h2 {
    font-size: 2.779em; /* 55.578 / 20 = 2.779em */
    line-height: 1.40343em; /* 78 / 55.578 = 1.40343em */
  }
  .player-info {
    padding: 0 10%;
  }
}

@media screen and (min-width: 640px) {
  .player-info {
    padding: 0 17%
  }
}

@media screen and (min-width: 720px) {
  #chrmil11 .player-media, #geom .player-media, #awakenedfear46 .player-media {
    width: 36.1111111%; /* 260 / 720 = 0.361111111 */
    float: left;
    text-align: center;
  }
  #chrmil11 .player-info, #geom .player-info, #awakenedfear46 .player-info {
    width: 60.2777778%; /* 434 / 720 = 0.602777778*/
    padding: 0;
    left-padding: 3.61111%; /* 26 / 720 = 0.036111 */
    float: left;
  }
  .player h3 {
    font-size: 2.2em; /* 44 / 20 = 2.2em */
    line-height: 1.18182em; /* 52 / 44 = 1.1818181.. em */
  }
  /*
  .flexbox #team .player {
    display: flex;
    flex-direction: row;
  }
  .flexbox #team .player .player-media,
  .flexbox #team .player .player-info {
    float: none;
    margin: 0;
    width: auto;
  }
  .cssgrid #team .player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3.61111%;
  }
  .cssgrid #team .player .player-media {
    grid-column: 1 / 4;
  }
  .cssgrid #team .player .player-info {
    grid-column: 4 / 9;
  }
  */
  #achievements, #chrmil11, #geom, #awakenedfear46, #footer {
    clear: both;
    float: none;
  }
  .player-media img {
    min-width: 120px;
  }
  #header-home {
    background-image: url(../img/home-872-490-75.jpeg);
  }
}

@media screen and (min-width: 818px) {
  .player {
    width: 33%;
    float: left;
  }
  h1 {
    font-size: 2.779em; /* 55.578 / 20 = 2.779em */
    line-height: 1.40343em; /* 78 / 55.578 = 1.40343em */
  }
  .player h3 {
    font-size: 1.667em; /* 33.34 / 20 = 1.667em */
    line-height: 1.5597em; /* 52 / 33.34 = 1.5597 em */
  }
}

@media screen and (min-width: 880px) {
  html {
    font-size: 1.3em; /* 26 / 20 = 1.3em */
  }
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

@media screen and (min-width: 1040px) {
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 11%;
    padding-right: 11%;
  }
  #introduction iframe {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 1220px) {
  html {
    font-size: 1.5em; /* 30 / 20 = 1.5em */
  }
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 15%;
    padding-right: 15%;
  }
  .player-media img {
    min-width: 160px;
  }
  #header-home {
    background-image: url(../img/home-1440-820-60.jpeg);
  }
}

@media screen and (min-width: 1440px) {
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 18%;
    padding-right: 18%;
  }
}

@media screen and (min-width: 1620px) {
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 21%;
    padding-right: 21%;
  }
  #introduction iframe {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
  }
}

@media screen and (min-width: 1800px) {
  #header-home, #introduction, #team, #achievements, #footer,
  #header-about, #header-team, #chrmil11, #geom, #awakenedfear46 {
    padding-left: 23%;
    padding-right: 23%;
  }
  #header-home {
    background-image: url(../img/home-1920-1080-40.jpeg);
  }
}
